<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MediSyncConection"
			 connectionString="Server=DESKTOP-GH3V49R\SQLEXPRESS;Database=MediSync;User ID=sa; Password=1234567;TrustServerCertificate=true;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
